[submodule "src/hyperlight_guest_bin/third_party/picolibc"]
	path = src/hyperlight_guest_bin/third_party/picolibc
	url = https://github.com/picolibc/picolibc.git
	shallow = true
[submodule "src/hyperlight_guest_bin/third_party/mimalloc"]
	path = src/hyperlight_guest_bin/third_party/mimalloc
	url = https://github.com/microsoft/mimalloc
