name: Fuzzing Job

on:
  workflow_call:
    inputs:
      max_total_time:
        description: Maximum total time for the fuzz run in seconds
        required: true
        type: number
      targets:
        description: Fuzz targets to run
        required: true
        type: string
      docs_only:
        description: Skip fuzzing if docs only
        required: false
        type: string
        default: "false"

permissions:
  contents: read

jobs:
  fuzz:
    if: ${{ inputs.docs_only == 'false' }}
    runs-on: [ self-hosted, Linux, X64, "1ES.Pool=hld-kvm-amd" ]
    strategy:
      matrix:
        target: ${{ fromJson(inputs.targets) }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: hyperlight-dev/ci-setup-workflow@v1.8.0
        with:
          rust-toolchain: "1.89"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Download Rust guests
        uses: actions/download-artifact@v7
        with:
          name: rust-guests-release
          path: src/tests/rust_guests/bin/release/

      - name: Install cargo-fuzz
        run: command -v cargo-fuzz >/dev/null 2>&1 || cargo install cargo-fuzz

      - name: Run Fuzzing
        run: just fuzz-timed ${{ matrix.target }} ${{ inputs.max_total_time }}
        working-directory: src/hyperlight_host

      - name: Upload Crash Artifacts
        if: failure() # This ensures artifacts are only uploaded on failure
        uses: actions/upload-artifact@v5
        with:
          name: fuzz-crash-artifacts
          path: fuzz/artifacts/
